# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text

# Declare files that will always have CRLF line endings on checkout.
UV-5R*.dat text eol=crlf
*.csv text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
UV-K5*.cxf text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
V168*.dat binary
FT-4XR*.dat binary
VZ-D188*.cps binary
UV-83*.uvdat binary

